.about-wrapper{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .about-container{
        width: 100%;
        margin-left: 8vw;
        margin-bottom: 35rem;
        margin-top: 25rem;
        .about-title{
            letter-spacing:3px;
            letter-spacing:3px;
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 700;
            @include DisplayS;
            -webkit-text-stroke: 2px rgb(218, 218, 218);
            color:rgba($color: $primary-color, $alpha: .08);
            margin-bottom: 4rem;
        }
        .about-description{
            color: $primary-color;
            @include baseL;
            margin-top: 2rem;
            line-height: 35px;
            letter-spacing: .5px;
            margin-left: 0rem;
            width: 70%;

        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .about-wrapper{
        .about-container{
            margin-left: 4vw;
            .about-description{
                width: 96%;
            }
        }
    }
}

.noise {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: 0.85;
    visibility: visible;
    pointer-events: none;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }