@import '../styles/variables.scss';
.hero-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
}
.hero-logo{
    width: 20vw;
}
.img-container{
    height: 40vw;
    position: absolute;
    top: 0;
    left: 24vw;
    width: 40vw;
    object-fit: cover;

}
.right{
    margin-top: 20vh;
    z-index: 1;
    margin-left: 10vw;
    max-width: 90vw;
}
.case{
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
// .music{
//     position: fixed;
//      bottom: 1rem;
//      left: 2rem;
// }
.title{
    color: $primary-color;
    @include DisplayM;
    // margin-bottom: 2rem;
    opacity: 0;
    font-family: 'NR';
    transform: translateY(100px);
    font-weight: 800;
}

.quote{
    color: $primary-color;
    @include baseXL;
   opacity: 0;
    font-family: 'IBM Plex Mono', monospace;
    transform: translateY(100px);
}
.highlight{
    color: $highlight-color;
}
.hey{
    overflow: hidden;
    padding-bottom: 4vh;
    display: flex;
    align-items: center;
    gap: 2vw;
}

@media (min-width: 320px) and (max-width: 480px) {
    /* 
      Device = Most of the Smartphones Mobiles (Portrait)
      Screen = 320px to 479px
    */
    .hero-container{
        align-items: center;
        justify-content: center;
    }
    .right{
        margin-left: 0;
    }
    .hey{
        flex-direction: column;
    }
    .hero-logo{
        width: 60vw;
    }
    .quote{
        letter-spacing: 0;
        line-height: 150%;
        max-width: 85vw;
        // @include baseL;
    }
  }