
.p11wrap{
    background-color: #36332B;
}




    .section-4{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10vh;
        & > h1{
            font-size: 48px;
            font-weight: 600;
            padding-left: 16%;

        }
        .carousel {
            margin: auto;
            .slide img{
                max-height: clamp(300px, 80vh , 900px);  /* change this to whatever you want */
                width: auto;
                object-fit: cover;
            }
            .legend{
                width: 50%;
                margin-left: -25%;
                border-radius: 0;
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }
    .section-5{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;

        .s5-wrapper{
            display: flex;
            flex-direction: column;
            gap: 10vh;
            justify-content: space-around;
            width: 68%;
            margin: auto;
            margin-top: 8%;
            @media (orientation: portrait) {
                width: 90%;
            }
            & > h1{
                font-size: 48px;
                font-weight: 600;
            }
            & > h2{
                font-size: 24px;
                font-family: 'IBM Plex Mono' , monospace;
                font-weight: 800;
            }
            & > .fonts{
                display: flex;
                height: auto;
                justify-content: center;
                align-items: center;
                @media (orientation: portrait) {
                    flex-direction: column;
                }
                & > img{
                    min-height: 100%;
                    max-height:70vh;
                    width: auto;
                    object-fit: cover;
                    @media (orientation: portrait) {
                        width: 90vw;
                    }
                }
            }
            & > img{
                max-height: 80vh;
                width: auto;
            }
            .embed{
                height:80vh;
                margin-bottom: 10vh;
                @media (orientation: portrait){
                    width: 90vw;
                    height: 50vh;
                }
            }
        }
    }
