
.projects-wrapper{
    height: 110vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8vh;
    align-items: center;
    // position: relative;
    .tabsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        max-width: 100vw; /* Adjust as needed */
        color: #c6c2bb;
        margin: auto;
        gap: 6vh;
        margin-top: 4vh;
        overflow: hidden;
        min-height: 100%;

        .tabs {
            display: flex;
            justify-content: space-around;
            margin-bottom: 3vh;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            @media (max-width: 768px) {
                flex-direction: column;
                gap: 4vh;
                align-items: center;
            }
            
            .bottom-line {
                border-radius: 50%;
                margin-top: 2vh;
                margin-bottom: -1vh;
                height: 0.7vw;
                width: 100%;
                background-color: red;
                filter: blur(8px);
              }
              
          }
      }
    .project-container{
         .projects-title{
            margin-left: 5rem;
            @include baseS;
            letter-spacing: 3px;
            text-transform: uppercase;
            opacity: .5;
            margin-bottom: 2.5rem;
            .projects-number{
                margin-right: 20px;
            }
        }
    }
}

.project{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top:3rem;
   
    ul{
        li{
            margin-left: calc(6vw - 20px);
            opacity: .5;
            transition: .5s ease;    
            color: #c6c2bb;
            .project-name{
               display: flex;
                letter-spacing: 3px;
                font-weight: 200;
                opacity: 0;
                transform: translateY(40px);
                @include titleS;
            }
            .project-number{
                align-self: flex-start;
                @include baseS;
                margin-right: 20px;
                margin-top: 6px;
                               
            }
            @for $i from 1 through 4 {
                .dash:nth-child(#{$i}){
                    width: 27px;
                    height: 1.2px;
                    background-color: $primary-color;
                    content: " ";
                    position: absolute;
          
                }
            }
        }
    }

    
    img{
        width: 35vw;
        height: auto;
        position: absolute;
        opacity: 0;
        right: calc(6vw - 20px);
        top: -10vh;
        transition: opacity 0.5s ease;
    }
    .projects-description{
        color: $primary-color;
        width: 30vw;
        position: fixed;
        opacity: 0;
        text-align: right;
        @include baseS;
        right: 2rem;
        bottom:4vh;
        transition: opacity 0.5s ease;
        transition-delay: 0.1s;
        
        .project-title{
            font-size:12px;
            margin-bottom:10px;
            letter-spacing: 2.5px;
       
        }
        .project-desc{
            letter-spacing: .5px;
        }
    }
    &:hover{
        img{
            opacity: 1;

        }
        .projects-description{
            opacity: 1;
        }
        li{
            opacity: 1;
        }
        
    }
}

.show{
    opacity: 1;
}
.project-name{

}
 

@media (min-width: 320px) and (max-width: 680px) {
    /* 
      Device = Most of the Smartphones Mobiles (Portrait)
      Screen = 320px to 479px
    */
.projects-wrapper{
    .project-container{
        .projects-title{
            margin-left: 0;
        }

    }
}
// .projects-description{
//     width: 50vw;
// }
}

.tab-text{

    @include titleM;
    font-weight: 500;

}


.skepTechTV {
    padding:0 8vw;
 
  
  
.TV-flex{
    margin-top: 8vh;
    display: flex;
    gap:8vw;
    .featuredVideo {
    @include base;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
      & > h3{
        @include titleS;
        margin-bottom:2vh;
    }
      .videoContainer {
        display: flex;
        flex-direction: column;

  
        img {
          width: 100%;
          max-width: 500px;
          height: 20vh;
          object-fit: cover
          ;
          border-radius: 8px;
          margin-bottom: 1rem;
        }
  
        .videoDescription {
            display: flex;
            flex-direction: column;
            gap: 2vh;
            & > h4{
                @include baseL;
                margin-bottom: 1.5vh;
            }
          .watchButton {
            width: fit-content;
            display: inline-block;
            padding: 0.8rem 1.5rem;
            background-color: $primary-color;
            color: black;
            text-decoration: none;
            align-self: center;
            &:hover {
              background-color: $lowlight-color;
            }
          }
        }
      }
    }
      .whySkepTech {
        @include base;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        @media (max-width: 768px) {
          display: none;
        }
        & > h3{
            @include titleS
        }
      ul {
        list-style-type: none;
        padding: 0;
  
        li {
          margin-bottom: 1rem;
  
          strong {
            color: $highlight-color;
          }
        }
      }
    }    
}

  

  
    .subscribe {
      margin-top: 4vh;
      @include base;
      & > h3{
        @include titleS;
        margin-bottom:2vh;
    }
      .subscribeButton {
        margin-top: 4vh;
        display: inline-block;
        padding: 0.8rem 1.5rem;
        background-color: #d32f2f;
        color: white;
        text-decoration: none;
  
        &:hover {
          background-color: #a52828;
        }
      }
    }
  }
  