
.turkish{
    background: rgb(32,49,60);
    background: linear-gradient(135deg, rgba(32,49,60,1) 0%, rgba(54,90,111,1) 50%, rgba(32,49,60,1) 100%);
}

    .sections{
        display: flex;
        flex-direction: column;
        .section-4{
            width: 100vw;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 8vh;
            margin-bottom: 8vh;
            gap: 4vh;
            & > h1{
                font-size: 48px;
                font-weight: 600;
                padding-left: 16%;

            }
            div{
                margin: auto;
            }
        }
       
    }